<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs">
    <% if user_signed_in? %>
        <li role="presentation" class="active"><%= link_to "Sign out", destroy_user_session_path, :class => 'navbar-link', method: :delete %></li>
        <li role="presentation"><%= link_to "Edit user info", edit_user_registration_path, :class => 'navbar-link' %></li>
        <li role="presentation"><%= link_to "Main", tasks_path, :class => 'navbar-link' %></li>
    <% else %>
        <li role="presentation"><%= link_to "Sign in", new_user_session_path, :class => 'navbar-link' %></li>
    <% end %>
  </ul>
  </br>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<div class='container'>
  <div class='row'><%= yield %></div>
</div>
</body>
</html>
